global_defs {
      enable_script_security
      script_user keepalived_script
}

vrrp_script check_haproxy {                 
    script "/home/keepalived_script/vrrp_script" 
    weight 20       
    interval 1               
}


vrrp_instance my_ha_frontend {
    interface ens3
    virtual_router_id 1
    {% if inventory_hostname == 'stealandsell-1' %}
    priority 100
    {% else %}
    priority 99
    {% endif%}
    advert_int 1
    authentication {
        auth_type PASS
        auth_pass {{keepalived_pass}}
    }
    virtual_ipaddress {
       {% if vm1_ip.startswith('192.168.42.') %}
		192.168.100.{{ vm1_ip.split('.')[-1] }}/24
	{% elif vm1_ip.startswith('192.168.43.') %}
		192.168.101.{{ vm1_ip.split('.')[-1] }}/24
	{% endif %}
      }
    unicast_peer {
      {% for vm in groups['keepalived'] %}
      {% if inventory_hostname != vm %}
      {{ hostvars[vm]['ansible_default_ipv4']['address']}} 
      {% endif %}
      {% endfor %}
    }
    track_script {
      check_haproxy
    }
}
