server {
	listen 80 default_server;
	listen 8080 default_server;
	
	server_name _;
	
	client_header_buffer_size 512k;
	large_client_header_buffers 4 512k;

        {% if inventory_hostname in groups['agama']%}
        location / {
               proxy_pass http://localhost:8001;
               proxy_set_header Host $http_host;
	}
        {% endif %}

        location /stub_status {
                stub_status;
        }


	{% if inventory_hostname in groups['prometheus'] %}
	location /prometheus {
		proxy_pass http://localhost:9090;
	}
	{% endif %}

	{% if inventory_hostname in groups['node_exporters'] %}

        location /metrics {
		proxy_pass http://{{ localhost }}:{{ prometheus_exporters['node']['port'] }}/metrics;
	}
        {% endif %}
       

        location /nginx-metrics {
                proxy_pass http://{{ localhost }}:{{ prometheus_exporters['nginx']['port'] }}/metrics;
        }
        
        
        {% if inventory_hostname in groups['db_servers'] %}
        location /mysql-metrics {
		proxy_pass http://{{localhost}}:{{ prometheus_exporters['mysql']['port'] }}/metrics;
	}
        {% endif %}
        
	{% if inventory_hostname in groups['node_exporters'] %}
        location /bind-metrics {
		proxy_pass http://{{localhost}}:{{ prometheus_exporters['bind']['port'] }}/metrics;
	}
        {% endif %}


        {% if inventory_hostname in groups['grafana'] %}
        location /grafana {
                 proxy_set_header Host $http_host;
                 proxy_pass http://{{localhost}}:{{grafana_port}};
    	}
        {% endif %}
        
        
        {% if inventory_hostname in groups['influxdb'] %}
        location /influxdb-metrics {

                 proxy_pass http://{{localhost}}:{{ prometheus_exporters['influxdb']['port'] }}/metrics;
    	}
        {% endif %}
        
        {% if inventory_hostname in groups['haproxy'] %}
        location /haproxy-metrics {

                 proxy_pass http://{{localhost}}:{{ prometheus_exporters['haproxy']['port'] }}/haproxy?stats;
    	}

        
        location /keepalived-metrics {

                 proxy_pass http://{{localhost}}:{{ prometheus_exporters['keepalived']['port'] }}/metrics;
    	}
        {% endif %}
}
