server {
	listen 80 default_server;
	server_name _;

	location / {
		uwsgi_pass localhost:5000;
		include uwsgi_params;
	}


	{% if inventory_hostname in groups['prometheus'] %}
	location /prometheus {
		proxy_pass http://localhost:9090;
	}
	{% endif %}

	{% if inventory_hostname in groups['node_exporters'] %}

        location /metrics {
		proxy_pass http://{{ localhost }}:9100/metrics;
	}
        {% endif %}
       
}
