apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    orgId: 1
    url: http://prometheus:9090/prometheus
    password:
    user:
    database:
    isDefault: true
    version: 1
    editable: false
    method: POST
    
  - name: InfluxDB:latency
    type: influxdb
    access: proxy
    orgId: 1
    url: http://influxdb:8086
    password:
    user:
    database: latency
    editable: true
    method: POST

  - name: InfluxDB:telegraf
    type: influxdb
    access: proxy
    orgId: 1
    url: http://influxdb:8086
    password:
    user:
    database: telegraf
    editable: true
    method: POST
