global:
  scrape_interval:     15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: prometheus
    metrics_path: '/prometheus/metrics'
    static_configs:
      - targets: 
           - {{localhost}}:9090

  - job_name: linux
    static_configs:
      - targets:
          {% for vm in groups['all'] %}
           - {{ hostvars[vm]['inventory_hostname'] }}:9100
          {% endfor %}
          
  - job_name: nginx_exporters
    static_configs:
      - targets:
          {% for vm in groups['node_exporters'] %}
           - {{ hostvars[vm]['inventory_hostname'] }}:{{ prometheus_exporters['nginx']['port'] }}
          {% endfor %}

  - job_name: mysql_exporter
    static_configs:
      - targets:
          {% for vm in groups['db_servers'] %}
           - {{ hostvars[vm]['inventory_hostname'] }}:{{ prometheus_exporters['mysql']['port'] }}
          {% endfor %}

  - job_name: bind_exporter
    static_configs:
      - targets:
          {% for vm in groups['dns_server'] %}
           - {{ hostvars[vm]['inventory_hostname'] }}:{{ prometheus_exporters['bind']['port'] }}
          {% endfor %}

  - job_name: influxdb
    static_configs:
      - targets:
          {% for vm in groups['influxdb'] %}
           - {{ hostvars[vm]['inventory_hostname'] }}:{{ prometheus_exporters['influxdb']['port'] }}
          {% endfor %}
